.idea/*
cmake-build-debug/
build-vs/
build*/
vcpkg_installed/
/assets/shaders/**/*.spv
build/*
build-linux/*
build-phase3-*/
.vscode/*
.claude
Testing/
compile_commands.json
.clangd/
assets/cooked/
cooked/
imgui.ini
